iconify-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
}

.vr {
    display: inline-block;
    align-self: stretch;
    width: var(--bs-border-width);
    min-height: 1em;
    background-color: currentcolor;
    opacity: .25;
}

.bg-ua-blue {
    background-color: #0056B9;
}

img.icon {
    max-height: 2.5rem;
    max-width: 2.5rem;
}

img.light {
    display: inline-block;
}

img.dark {
    display: none;
}

html[data-bs-theme="dark"] img.light {
    display: none;
}

html[data-bs-theme="dark"] img.dark {
    display: inline-block;
}

.bar-chart {
    width: 100%;
    min-height: 300px;
}

.line-chart {
    width: 100%;
    min-height: 300px;
}

.heatmap-chart {
    width: 100%;
    min-height: 660px
}

@media (min-width: 576px) {
    .bar-chart {
        height: 300px;
    }

    .line-chart {
        height: 300px;
    }
}

@media (min-width: 768px) {
    .bar-chart {
        height: 450px;
    }

    .line-chart {
        height: 450px;
    }
}

@media (min-width: 992px) {
    .bar-chart {
        height: 600px;
    }

    .line-chart {
        height: 600px;
    }
}

@media (min-width: 1200px) {
}

h3 {
    max-width: 85%;
    word-wrap: break-word;
}

.ms-n2 {
    margin-left: -0.5rem !important;
}

.empty-32 {
    width: 32px !important;
}

.interactive-card {
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
}

.interactive-card:hover {
    box-shadow: 0 0 4px 4px rgba(190, 190, 190, .4);
}

html[data-bs-theme="dark"] interactive-card:hover {
    box-shadow: 0 0 4px 4px rgba(255, 255, 255, .4);
}

